# Ignore everything
/*

# Except these folders
!/code/
!/setup/
!/.gitignore

# Ignore macOS metadata
.DS_Store

# Ignore large/regeneratable files in setup
setup/local/*.qcow2
setup/local/arch-boot/
setup/local/*.log
